{% extends "_layouts/base.html" %}

{% block page_title %}SEADS_debug{% endblock %}
{% block page_class %}datagen-page{% endblock %}

{% block content %}
{% include "base/navbar.html" %}
</nav>
   <div class="container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <form id="debug_form" action="" method="post" style="margin-top:50px;">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Submit">
      </form>
      <div class="progress" id="progress" hidden>
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
      </div>
      {% if success %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
      {% endif %}
   </div>
</div>

{% endblock %}