{% extends "_layouts/base.html" %}

{% block page_title %}SEADS_debug{% endblock %}
{% block page_class %}datagen-page{% endblock %}

{% block content %}
{% include "base/navbar.html" %}
</nav>
   <div class="container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <form action="" method="post" style="margin-top:50px;">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
      <p>{{ success }}</p>
   </div>
</div>

{% endblock %}
