<script>
   function render_chart() {
   {% if device %}
     
     var chart = new TimeChart({
        container: document.getElementById("line-chart"),
        data:
        {
            units:["y","M","d","h","m","s"],
            timestampInSeconds: true,
            urlByUnit:{
               "m":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
               "M":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
               "d":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
               "h":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
               "y":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
               "s":"/charts/device/{{ device.serial }}/data/?localtime="+(new Date())/1000,
            }
        },
        legend: { enabled: true },
        valueAxis:{
           "default":{
              title: "Power (W)"
           }
        },
        series:[
            {
              name: "Total",
              id: "total",
              type:"line",
              data:{
                index:1,
                aggregation:"avg",
                noDataPolicy:"skip"
              },
              style:{
                lineWidth: 1,
                smoothing: true
              }
            },
           {% for appliance in appliances %}
           {
              name: "{{ appliance }}",
              id:"event{{ forloop.counter }}",
              type:"line",
              data:{
                 index:{{ forloop.counter }}+1,
                 aggregation:"avg",
                 noDataPolicy:"skip"
              },
              {% if stack %}stack: "default",{% endif %}
              style:{
                 fillColor:"{{ appliance.chart_color }}",
                 lineColor:""
              }
           },
           {% endfor %}
        ],
        area: {
           initialDisplayUnit: "5 m",
           initialDisplayPeriod: "1 d",
           initialDisplayAnchor:"now",
           followAnchor: true,
        },
        currentTime: {
           enabled: true,
        },
        advanced: {
          logging:true,
          timeUpdateInterval: 300
        },
        events: {
          onChartUpdate: function(event){
            console.info("Chart update");
            realTimeData();
          }
        }
     });
   {% endif %}


function realTimeData() {
   try {
      var interval = chart.displayUnit().split(' ')[0];
      var displayUnit = chart.displayUnit().slice(-1);
      var period;
      var timeout = 250;
      if (displayUnit == 'm') {
         period = 'now - ' + interval + ' minutes'
         timeout = interval * 60 * 900
      }
      else if (displayUnit == 's') {
         //var delay = (2 + parseInt(interval)).toString();
         period = 'now - ' + interval + ' seconds'
         timeout = interval * 900
      }
      else {
         // Update everything on the hour. Fix later.
         period = 'now - ' + interval + ' hours'
         timeout = interval * 60 * 60 * 900
      }
      var start = +Date.parse(period)/1000;
      var stop = +Date.parse('now')/1000;
      var get_url = '/charts/device/{{ device.serial }}/data/'
      $.get(get_url,
         {
            'unit':displayUnit,
            'from':start,
            'to':stop,
            'localtime': +(new Date)/1000,
         },
         function (ajax_data) {
            if (ajax_data.data[0][0] != null) {
               chart.addData({unit: displayUnit, values: ajax_data.data});
            }
         }
      );
    } catch (e) {
       console.info("Chart not defined yet");
    }
    console.info("timeout = "+timeout)
    setTimeout(realTimeData, timeout);
}

function waitForChart() {
   console.info("Waiting for chart");
   if (chart.displayUnit() != null) {
      console.info("Chart ready");
      realTimeData();
   } else {
      setTimeout(waitForChart, 250);
   }
}

$(function() {
   waitForChart();
});


}
</script>