<div class="row">
   <div style="height:400px; width:100%;" id="map-canvas"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% if my_devices %}
        <div class="panel panel-default">
            <div class="panel-heading">
               <div id='chart-title' value='{{ my_devices.0.serial }}'>{{ my_devices.0.name }} at a glance</div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Change Chart Type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a class="chart-stack" id="stack" href='javascript:refresh_chart(true)'>Stacked</a></li>
                            <li><a class="chart-stack" id="unstack" href='javascript:refresh_chart(false)'>Unstacked</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="line-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        {% else %}
        <h4>You have no registered devices. <a href="javascrtipt:void(0)" data-toggle="modal" data-target="#deviceModal">Click Here</a> to register a new device</h4>
        {% endif %}
    </div>
    <!-- /.col-lg-8 -->
    <div id='ajax-container'></div>
</div>
<!-- /.row -->

<script>

function refresh_chart(stack) {
  var device_serial = $('#chart-title').val();
  var device_name = $('#chart-title').html().split(' at a glance')[0]
  $.get('/charts/device/'+device_serial+'/chart/',
    {
      'stack': stack
    },
    function(data) {
      $('#ajax-container').html(data);
      render_chart();
      $('#chart-title').html(device_name+" at a glance");
      $('#chart-title').val(device_serial);
    }
  );
}

function get_average(serial) {
   $.get('/device/get_averages/'+serial+'/',
      function(data) {
         var average = 0;
         $.each(data, function(key, value) {
            average += parseInt(value);
         });
         $('#body-content-'+serial).html(average);
      }
   );
}

$(function() {
   initialize();
   {% for device in my_devices %}
   get_average({{ device.serial }});
   {% endfor %}
});

var map, placeSearch, autocomplete;

function initialize() {
  var mapOptions = {
    scrollwheel: false,
    zoom: 17
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
      
   var LatLngList = new Array ();

  {% for device in my_devices %}
     var pos = new google.maps.LatLng({{ device.position }});
     LatLngList.push(pos)
     var marker{{ device.serial }} = new google.maps.Marker({
       map: map,
       position: pos,
       title: '{{ device.name }}',
     });
     var content{{ device.serial }} = '\
         <div id="content">'+
            '<h3 id="device-name">{{ device.name }}</h3>'+
            '<div id="body-content-{{ device.serial }}">'+
               '<p><strong>Average Usage:</strong> {{ device.average_wattage }}W</p>'+
               '<p><strong>Average Cost:</strong> $???</p>'+
               '<p><strong>Current Usage:</strong> ??? W</p>'+
            '</div>'+
         '</div>';
     var infowindow{{ device.serial }} = new google.maps.InfoWindow({
        content: content{{ device.serial }}
     });
     google.maps.event.addListener(marker{{ device.serial }}, 'click', function() {
        {% for device2 in my_devices %}
           infowindow{{ device2.serial }}.close();
        {% endfor %}
        infowindow{{ device.serial }}.open(map, marker{{ device.serial }});
        $.get('/charts/device/{{ device.serial }}/chart/',
          {
             'stack': true
          },
          function(data) {
             $('#ajax-container').html(data);
             render_chart();
             $('#chart-title').html("{{ device.name }} at a glance");
             $('#chart-title').val("{{ device.serial }}");
          }
        );
     });
  {% endfor %}
  
   new DayNightOverlay({
      map: map
   });

   var bounds = new google.maps.LatLngBounds ();
   //  Go through each...
   for (var i = 0, LtLgLen = LatLngList.length; i < LtLgLen; i++) {
      //  And increase the bounds to take this point
      bounds.extend (LatLngList[i]);
   }
   //  Fit these bounds to the map
   map.fitBounds (bounds);
}
</script>
