{% if my_devices %}
<div class="row">
   <div style="height:400px; width:100%;" id="map-canvas"></div>
   <button id="map-slide-toggle" style="width:100%;"type="button" class="btn btn-default" aria-label="Left-Align">
      <span id="map-slide-icon" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
   <span id="map-slide-text">Hide Map</span>
   </button>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <div id='chart-title' value='{{ my_devices.0.serial }}'>{{ my_devices.0.name }} at a glance</div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" id="chart-type-label" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Unstacked
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a class="chart-stack" id="stack" href='javascript:refresh_chart(true)'>Stacked</a></li>
                            <li><a class="chart-stack" id="unstack" href='javascript:refresh_chart(false)'>Unstacked</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default btn-sm" id="btn-realtime">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" id="span-realtime"></span> Realtime
                    </button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="line-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    
    <div id='ajax-container1'></div>
        {% if render_circuit_charts %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                Charts by Circuit: <span id="circuit-heading"></span>
                <div class="pull-right">
                    <div class="circuit-pagination"></div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="circuit-line-chart" class="circuit-line-chart"></div>
            </div>
        </div>
        <div id='ajax-container2'></div>
        <!-- /.panel panel-default -->
        {% endif %}
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
                Billing Information
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="ajax-billing-information"></div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
                Circuit Statistics
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="ajax-circuits-information"></div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<script src="{{ STATIC_URL}}/webapp/js/dashboard.js"/>

<script>
    // If the user has been here for 5 minutes, prompt for survey
    $(function() {
      setTimeout(
        function() {
          var head = document.getElementsByTagName('head')[0];
          var script = document.createElement('script');
          script.src = 'https://widget.surveymonkey.com/collect/website/js/USRb_2BM65RwhjIvJJ6KeHRiOcV0oLp2GWYYT5ajBIZBCj0KCxf0bUmUz72O5x_2FmXM.js';
          head.appendChild(script);
        },
      300000);
    });
</script>
{% else %} <!-- if my_devices -->
<h4>Welcome to the Dashboard! You have no registered devices. <a href="/settings/">Click Here</a> to register a new device</h4>
<!-- tutorialModal -->
<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>
$(function() {
  $.get('/new_device/',
    {
     page: 'first'
    },
      function(data) {
        $('.modal-content').html(data);
        $('#tutorialModal').modal('show');
  });
});
</script>
{% endif %}