<div id="keyFormWrapper">
   <span> Enter the secret key for your SEADS device.</span>
   <form id="keyForm" action="" method="post">
      {% csrf_token %}
      <div class="inputs" style="margin:2rem">
         <table>
            <tr>
               <td>{{ form.digit1 }}</td>
               <td>{{ form.digit2 }}</td>
               <td>{{ form.digit3 }}</td>
               <td>{{ form.char1 }}</td>
               <td>{{ form.char2 }}</td>
               <td>{{ form.char3 }}</td>
               <td>{{ form.char4 }}</td>
            </tr>
         </table>
      </div>
      <input id="submit" type="submit" value="Submit">
   </form>
   {% if not error and created %}
   <div class="alert alert-success" role="alert">Paired</div>
   {% endif %}
   {% if error %}
   <div class="alert alert-danger" role="alert">Not Paired</div>
   {% endif %}
</div>

<script>
$('#submit').click(function(e){
      e.preventDefault();
      $.post('/new_device/key/',
         $('#keyForm').serialize(), 
         function(data, status, xhr){
            $('#keyFormWrapper').html(data);
         });
});
</script>