<div id="keyFormWrapper">
    {% if form %}
   <span> Enter the secret key for your SEADS device.</span>
   <form id="keyForm" action="" method="post">
      {% csrf_token %}
      <div class="inputs" style="margin:2rem">
         <table style="margin: auto;">
            <tr>
               <td>{{ form.digit1 }}</td>
               <td>{{ form.digit2 }}</td>
               <td>{{ form.digit3 }}</td>
               <td>{{ form.char1 }}</td>
               <td>{{ form.char2 }}</td>
               <td>{{ form.char3 }}</td>
               <td>{{ form.char4 }}</td>
            </tr>
         </table>
      </div>
      <input id="submit" type="submit" value="Submit">
   </form>
   {% else %}
   {% if not error and created %}
   <div class="alert alert-success" role="alert">
      <p>Pairing Complete!</p>
      <p>Close this dialog box to continue configuring your new device.</p>
      <p>Name: {{ device }}</p>
      <p>Serial: {{ device.serial }}</p>
   </div>
   {% endif %} <!-- if not error and created -->
   {% if error %}
   <div class="alert alert-danger" role="alert">Not Paired</div>
   {% endif %} <!-- if error -->
   {% endif %} <!-- if form -->
</div>

<script>
$('#submit').click(function(e){
      e.preventDefault();
      $.post('/new_device/key/',
         $('#keyForm').serialize(), 
         function(data, status, xhr){
            $('#keyFormWrapper').html(data);
         });
});

$(function () {
   $.autotab({ tabOnSelect: true });
   $('.digit').autotab('filter', 'number');
   $('.char').autotab('filter', 'text');
});
</script>
