<!-- BEGIN Standard Theme Template -->
{% extends "_layouts/base.html" %}

{% block page_title %}SEADS - Settings{% endblock %}
{% block page_class %}settings{% endblock %}

{% block content %}
{% include "base/navbar.html" %}
{% include "base/sidebar.html" %}
<!-- END Standard Theme Template -->
   <div id="page-wrapper">
   <div class="container-fluid">
      <div id='content'>
      	{% if user.is_authenticated %}
      <h1>Settings</h1>
      <h2>Hello, {{ user.username }}</h2>
      <table>
	      <tr>My Devices</tr>
	      <tr>
	      	{% for device in devices %}
	      		<td>{{ device }}</td>
	      	{% endfor %}
	      </tr>
      </table>
      {% else %}
      <h1><a href="/signin/">Sign In</a></h1>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}
