<!-- BEGIN Standard Theme Template -->
{% extends "_layouts/base.html" %}

{% block page_title %}Settings{% endblock %}
{% block page_class %}settings{% endblock %}

{% block content %}
{% include "base/navbar.html" %}
{% include "base/sidebar.html" %}
<!-- END Standard Theme Template -->
<script>
$(function() {
	$.get('/settings/',
		{'account': true},
		function(data) {
			$('#settings-container').html(data);
         $('.activate').each(function(i) {
            $(this).removeClass("active");
         });
         $('#account-li').addClass("active");
      });
});

function account() {
	$.get('/settings/',
		{'account': true},
		function(data) {
			$('#settings-container').html(data);
         $('.activate').each(function(i) {
            $(this).removeClass("active");
         });
         $('#account-li').addClass("active");
		}
	);
}

function device() {
	$.get('/settings/',
		{'device': true},
		function(data) {
			$('#settings-container').html(data);
         $('.activate').each(function(i) {
            $(this).removeClass("active");
         });
         $('#device-li').addClass("active");
		}
	);
}

function dashboard() {
	$.get('/settings/',
		{'dashboard': true},
		function(data) {
			$('#settings-container').html(data);
         $('.activate').each(function(i) {
            $(this).removeClass("active");
         });
         $('#dashboard-li').addClass("active");
		}
	);
}
</script>

<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places' type="text/javascript"></script>



<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			{% if user.is_authenticated %}
			<h1>Settings</h1>
         <div class="col-md-2 panel panel-default">
            <ul class="nav nav-pills nav-stacked">
               <li id="account-li" class="activate" role="presentation"><a onclick="account()" role="menuitem"href="#" id="account">Account</a></li>
               <li id="device-li" class="activate" role="presentation"><a onclick="device()" role="menuitem" href="#" id="device">Device</a></li>
               <li id="dashboard-li" class="activate" role="presentation"><a onclick="dashboard()" role="menuitem" href="#" id="dashboard">Dashboard</a></li>
            </ul>
         </div>
         <div class="col-md-8">
            <div id='settings-container'></div>
         </div>
			{% else %}
			<h1><a href="/signin/">Sign In</a></h1>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}
