<script>
$('#submit-username').on("click", function(e) {
  e.preventDefault();
  $.post('/settings/',
    $('form#user-form').serialize(),
    function (data) {
      console.log(data);
    });
});
</script>

<form id="user-form" action="/settings/" method=post class="form-horizontal">

{% csrf_token %}

<fieldset>

<!-- Form Name -->
<legend>Account Settings</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  {{ form.new_username }}
  <!--input id="id_new_username" name="username" type="text" placeholder="{{ user.get_username }}" class="form-control input-md"-->
  <button style="margin-top:10px;" id="submit-username" name="singlebutton" class="btn btn-primary">Rename</button>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">New Password</label>
  <div class="col-md-4">
    {{ form.password1 }}
    <!--input id="passwordinput" name="passwordinput" type="password" placeholder="*****" class="form-control input-md"-->
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordconfirminput">Confirm Password</label>
  <div class="col-md-4">
    {{ form.password2 }}
    <!--input id="passwordconfirminput" name="passwordconfirminput" type="password" placeholder="*****" class="form-control input-md"-->
    <button style="margin-top:10px;" id="submit-password" name="singlebutton" class="btn btn-primary">Change Password</button>
  </div>
</div>

</fieldset>

<fieldset>

<legend>Notification Preferences</legend>
<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="notification-checkboxes">Notification Settings</label>
  <div class="col-md-8">
    {{ form.notifications }}
     <!--div class="checkbox">
       <label for="notification-checkboxes-0">
         <input type="checkbox" name="notification-checkboxes" id="notification-checkboxes-0" value="1">
         Option one
       </label>
      </div>
     <div class="checkbox">
       <label for="notification-checkboxes-1">
         <input type="checkbox" name="notification-checkboxes" id="notification-checkboxes-1" value="2">
         Option two
       </label>
      </div-->
  </div>
</div>
</fieldset>

<fieldset>

<legend>Add a New Device</legend>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="new-device">New Device</label>
  <div class="col-md-8">
    <button id="new-device" name="new-device" class="btn btn-success">Click to Add Device</button>
  </div>
</div>
</fieldset>
</form>
