<script>
$('#new-device').on("click", function(e) {
  e.preventDefault();
});
</script>

<form class="form-horizontal">

<fieldset>

<!-- Form Name -->
<legend>Account Settings</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" name="username" value="{{ user.get_username }}" type="text" class="form-control input-md">
  <button style="margin-top:10px;" id="submit-username" name="singlebutton" class="btn btn-primary">Rename</button>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">New Password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="*****" class="form-control input-md">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordconfirminput">Confirm Password</label>
  <div class="col-md-4">
    <input id="passwordconfirminput" name="passwordconfirminput" type="password" placeholder="*****" class="form-control input-md">
    <button style="margin-top:10px;" id="submit-password" name="singlebutton" class="btn btn-primary">Change Password</button>
  </div>
</div>

</fieldset>

<fieldset>

<legend>Notification Preferences</legend>
<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="notification-checkboxes">Notification Settings</label>
  <div class="col-md-4">
     <div class="checkbox">
       <label for="notification-checkboxes-0">
         <input type="checkbox" name="notification-checkboxes" id="notification-checkboxes-0" value="1">
         Option one
       </label>
      </div>
     <div class="checkbox">
       <label for="notification-checkboxes-1">
         <input type="checkbox" name="notification-checkboxes" id="notification-checkboxes-1" value="2">
         Option two
       </label>
      </div>
  </div>
</div>
</fieldset>

<fieldset>

<legend>Add a New Device</legend>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="new-device">New Device</label>
  <div class="col-md-8">
    <button id="new-device" name="new-device" class="btn btn-success">Click to Add Device</button>
  </div>
</div>
</fieldset>
</form>
