<!-- BEGIN Standard Theme Template -->
{% extends "_layouts/base.html" %}

{% block page_title %}SEADS - Settings{% endblock %}
{% block page_class %}settings{% endblock %}

{% block content %}
{% include "base/navbar.html" %}
{% include "base/sidebar.html" %}

<script>
$(function() {
	$.get('/settings/',
		{'account': true},
		function(data) {
			$('#settings-container').html(data);
		}
	);
});

function account() {
	$.get('/settings/',
		{'account': true},
		function(data) {
			$('#settings-container').html(data);
		}
	);
}

function device() {
	$.get('/settings/',
		{'device': true},
		function(data) {
			$('#settings-container').html(data);
		}
	);
}

function dashboard() {
	$.get('/settings/',
		{'dashboard': true},
		function(data) {
			$('#settings-container').html(data);
		}
	);
}
</script>
<!-- END Standard Theme Template -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div id='content'>
			{% if user.is_authenticated %}
			<h1>Settings</h1>
			<h3>Hello, {{ user.username }}</h3>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Settings
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a onclick="account()" role="menuitem" tabindex="1" href="#" id="account">Account Settings</a></li>
					<li role="presentation"><a onclick="device()" role="menuitem" tabindex="2" href="#" id="device">Device Settings</a></li>
					<li role="presentation"><a onclick="dashboard()" role="menuitem" tabindex="3" href="#" id="dashboard">Dashboard Settings</a></li>
				</ul>
			</div>
			<div id='settings-container'></div>
			{% else %}
			<h1><a href="/signin/">Sign In</a></h1>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}
